* {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  
  form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.47);
    background: rgb(255, 239, 246, 0.5);
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(92, 131, 175);
    border-radius: 17px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8e8e8e;
  }

.sucessForm {
  display: none; 
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  color: rgb(27, 28, 41);
  font-size: 1.2em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.47);
  background: rgba(255, 239, 246, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

@media (max-width: 600px) {
  .sucessForm {
    width: 80%;
    font-size: 1em;
  }
}
